.loadMessage {
  color: var(--white-50);
  font-size: 4rem;
  text-align: center;
  padding-top: 5rem;
}

.postContainer {
  figure {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;

    img {
      height: 100%;
    }
  }
}

.postContent {
  max-width: 700px;
  margin: 0 auto;
  padding: 5rem 0;

  h1 {
    color: var(--white-50);
    font-size: 3rem;
    line-height: 3.631rem;
    letter-spacing: 0.031rem;
    font-weight: 700;
  }

  > a {
    margin-top: 2rem;
    display: flex;
    align-items: center;

    time,
    span {
      margin: 0 1.563rem 0 0.625rem;
      display: block;
      font-size: 0.875rem;
      line-height: 1.059rem;
      color: var(--gray-300);
    }
  }

  > strong {
    display: block;
    color: var(--white-50);
    font-weight: 700;
    line-height: 140%;
    font-size: 2.25rem;
    margin-top: 4.125rem;
    margin-bottom: 3rem;
  }

  .postBody {
    color: var(--gray-250);
    font-size: 1.125rem;
    line-height: 140%;

    a {
      color: var(--pink-500);
    }

    ul {
      padding: 1.5rem 0;

      li {
        margin-left: 0.5rem;
        padding-left: 0.5rem;
      }
    }
  }
}
